{% extends "miniblog/blog_base.html" %}

{% block title %} {{ article.caption }} {% endblock %}


{% block article %} 
    <div class="content">
        <article class="content-main animated fadeInUp" style="-webkit-animation-duration: 0.6s; -webkit-animation-timing-function: ease-in-out;">
            {% block article_title %}
                <h2>{{ article.caption }}</h2>
            {% endblock %}
            <p class="muted">
                <i class="icon-user"></i><small> {{ article.author }}</small>  
                <i class="icon-time"></i><small> {{ article.publish_time }}</small>
            </p>
            <section>
                <div class="article-content" >
                    {% block article_content %}
                        {{ article.content|safe }}
                    {% endblock %} 
                </div>
            </section>
            <section>
                <div class="row-fluid post-info">
                    <div class="span3">
                        <p>  
                            <i class="icon-tag"></i>
                            {% for tag in article.tags.all %}
                                 <small class="muted"> {{ tag }} </small>
                            {% endfor %}
                        </p>  
                    </div>
                    <div class="span2 offset7">
                        <a href="{% url 'miniblog:delarticle' article.id %}" title="delete"><i class="icon-trash"></i></a>
                        <a href="{% url 'miniblog:updarticle' article.id %}" title="edit"><i class="icon-edit"></i></a>
                        <a href="#cmt" title="comment"><i class=" icon-comment"></i></a>
                    </div>
                </div>
            <hr>
            </section>    
        </article>
        <hr>
    </div>    
{% endblock %}
{% block comments %} 
<!-- 多说评论框 start 
    <div class="ds-thread" data-thread-key="1" data-title="abc" data-url="http://127.0.0.1:8000/miniblog/article/14/"></div> !-->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
// var duoshuoQuery = {short_name:"dmyzblog"};
//     (function() {
//         var ds = document.createElement('script');
//         ds.type = 'text/javascript';ds.async = true;
//         ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
//         ds.charset = 'UTF-8';
//         (document.getElementsByTagName('head')[0] 
//          || document.getElementsByTagName('body')[0]).appendChild(ds);
//     })();
    </script>
<!-- 多说公共JS代码 end --> 
{% endblock comments %}