<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}        
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "miniblog/css/bootstrap.min.css" %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    {% block body %}
        {% block header %}
            {# 任何每个页面都可能修改的文本区域的页面 #}
            {% block menu %}
            {# 你的菜单 (导航栏) 应该包含在这个区块中. 它是针对站点级的导航, 不是 每个页面专属的导航菜单. #}
            {% endblock menu %}
        {% endblock header %}
        {% block content %}
            {# 这个区块用来放置页面正文内容. 任何页面正文内容都可能不一样. 它不 包含任何站点导航, 信息头, 页脚, 或其它任何属于 base 模板的东东. #}   
            {% block article %}
                {% block article_title %}
                    {% comment %}
                    用来指定 content 区块的 "title". 比如 blog 的标题. 
                    也可以用来 包含 content 内的导航 (译注: 比如提纲), 或其它类似的东东. 
                    大致都是些 页面中并非主要内容的东东. 
                    我不知道这个区块是否应该放到 content tag 内, 并且对应于前面建议的 content tag, 
                    是不是还需要一个 main_content 区块.
                    {% block [section]_menu %} {% block page_menu %}
                    这是对应于之前建议的 menu 区块. 用来导航一个章节或页面.
                    {% endcomment %}
                {% endblock article_title %}
                {% block article_content %}{% endblock article_content %}
            {% endblock article %}
            {% block article_menu %} {% endblock article_menu %}
            {% block comments %} {% endblock comments %}
                {% block aside %}
                    {% block tags %}{% endblock tags %}
                {% endblock aside %}
            {% block page %}
            {% endblock page %}
        {% endblock content %}
    {% endblock body %}
    {% block footer %}
        {# 任何每个页面都可能修改的文本区域的页脚 #}
    {% endblock footer%}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "miniblog/js/bootstrap.min.js" %}"></script>
</body> 
</html>