{% extends "miniblog/blog_note.html" %}{% block article %}<h2 class="post-title">{{ article.caption }}</h2><div class="metadata">  <ul class="list-inline clearfix">    <li class="meta-date">      <i class="fa fa-calendar"><span>{{ article.publish_time }}</span></i>    </li>    <li class="meta-author">      <i class="fa fa-user">        <a href="#">{{ article.author }}</a>      </i>    </li>    <li class="meta-comments">      <i class="fa fa-comments-o">        <a href="#">comments</a>      </i>    </li>  </ul></div><div class="post-content" id="main-content">  {{ article.content|safe }}</div>	
	<!-- 多说评论框 start -->
	<div id="ds-thread" class="ds-thread" data-thread-key="{{ article.id }}" data-title="{{ article.caption }}" data-url="{% url 'miniblog:blog_note_show' article.id %}"></div>
	<!-- 多说评论框 end -->
{% endblock article %}
